.navbar-size {
    width: 95%;
    margin: 0 auto;
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.click-me-button {
    background-color: #EE6E73;
    margin-top: 50px;
}
.main-body {
    background-color: white;
    height: calc(100vh - 64px);
    }
.user-image-size {
        height: 64px;
        }
.nav-wrapper {
        background-color: #1e88e5 !important;
        font-size: 14px;
        font-weight: bold;
      }
.nav-content {
        background-color: #e0f7fa !important;
        font-size: 10px;
        font-weight: bold;
    }
    